<header>
        <h1>{{product.title}}</h1>
</header>
<main>
    <p><strong>Price:</strong> ${{product.price}}</p>
    <p><strong>Descripción:</strong> {{product.description}}</p>
    <p><strong>Code:</strong> {{product.code}}</p>
    <p><strong>Status:</strong> {{product.status}}</p>
    <p><strong>Stock:</strong> {{product.stock}}</p>
    <p><strong>Category:</strong> {{product.category}}</p>
    <button onclick="window.history.back()">Volver</button>
</main>
